<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
<strong>Apache</strong> による Web サーバー構築をご紹介するカテゴリです。 <a href="http://webos-goodies.jp/categories/server.html">Gentoo Linux</a> へのインストール方法から細かい Tips まで幅広く取り扱っていきます。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>

<h1>関連リンク</h1>

<ul>
<li><a href="http://httpd.apache.org/">公式サイト</a></li>
<li><a href="http://www.atmarkit.co.jp/flinux/index/indexfiles/apache2index.html">実用 Apache 2.0運用・管理術</a></li>
<li><a href="http://www.atmarkit.co.jp/flinux/special/webdav03/webdav01a.html">Apache 2.0でWebDAV</a></li>
<li><a href="http://www.atmarkit.co.jp/flinux/special/apache22/apache01.html">Apache 2.2でWebサイトをパフォーマンスアップ！</a></li>
</ul>
