<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
<strong>canvas</strong> は JavaScript で高度なグラフィック表現を行うための <acronym title="Application Programming Interface">API</acronym> です。 Opera, Firefox, Safari などのブラウザで標準サポートされているほか、 <a href="http://excanvas.sourceforge.net/">Explorer Canvas</a> というスクリプトを利用することで Internet Explorer でもある程度のエミュレーションが可能です（Explorer Canvas についての詳細は記事をご覧ください）。 Internet Explorer が SVG をサポートしていない現在、もっとも利用しやすい Web グラフィック <acronym title="Application Programming Interface">API</acronym> と言えるでしょう。このカテゴリでは、 <strong>canvas</strong> の利用方法をサンプルをまじえて詳細にご紹介していきます。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>
