<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
 <a href="http://wiki.livedoor.jp/sourcewalker/d/canvas" class="iw_lw">canvas</a> は <a href="http://wiki.livedoor.jp/sourcewalker/d/JavaScript" class="iw_lw">JavaScript</a> で高度なグラフィック表現を行うための <acronym title="Application Programming Interface">API</acronym> です。 <a href="http://wiki.livedoor.jp/sourcewalker/d/Opera" class="iw_lw">Opera</a>, <a href="http://wiki.livedoor.jp/sourcewalker/d/Firefox" class="iw_lw">Firefox</a>, Safari などのブラウザで標準サポートされているほか、 <a href="http://excanvas.sourceforge.net/">Explorer Canvas</a> というスクリプトを利用することで Internet Explorer でもある程度のエミュレーションが可能です（Explorer Canvas についての詳細は記事をご覧ください）。 Internet Explorer が <a href="http://wiki.livedoor.jp/sourcewalker/d/SVG" class="iw_lw">SVG</a> をサポートしていない現在、もっとも利用しやすい Web グラフィック <acronym title="Application Programming Interface">API</acronym> と言えるでしょう。このコーナーでは、 <a href="http://wiki.livedoor.jp/sourcewalker/d/canvas" class="iw_lw">canvas</a> の利用方法をサンプルをまじえて詳細にご紹介していきます。
</p>

<ul><%= list_articles(@basename) %></ul>
