<% @title = escapeHTML(@captions[@basename]) %>

<p>
来たるべき WebOS 時代には、アプリケーションプログラミングの形も今とは様変わりしていることでしょう。従来のデスクトップ向けの技術に変わって HTML / XML や JavaScript などが基礎技術として使われるようになり、そこにデスクトップアプリケーション構築のノウハウが融合されていくと思われます。また、ネットワークへの依存が高まるにつれ、サーバーサイドの重要性もより増していくでしょう。このカテゴリーでは、そうした WebOS 時代の開発技術を模索し、ご紹介していきます。
</p>

<h1><a href="web-development.html"><%= escapeHTML(@captions['web-development']) %></a></h1>

<p>
Web アプリケーションが従来のデスクトップアプリケーションと大きく異なる点のひとつは、プログラミング言語による開発以外にも HTML, CSS, Web サーバー, データベースといったさまざまな技術を組み合わせて構成されていることです。さらに最近ではさまざまなサービスが API を提供しており、それらをマッシュアップして開発の効率化を図るといったことも普通に行われています。このカテゴリーでは、そういった幅広いトピックをざっくばらんに取り上げていくことで、他のカテゴリーではフォローしきれない部分に光を当てていきます。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('web-development', 3) %></ul>
<div class="morecategory">
<a href="web-development.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="javascript.html"><%= escapeHTML(@captions['javascript']) %></a></h1>

<p>
クライアントサイド（Web ブラウザ）で利用できるスクリプト言語として、 Web 開発になくてはならない言語が JavaScript です。かつては Web ページに簡単な（ときには鬱陶しい）アニメーションを入れるだけの玩具のような言語と思われていましたが、現在では活用ノウハウがかなり確立されてきており、高度なオブジェクト指向プログラミングにも耐える実用的な言語として認知されています。このカテゴリでは、便利な Tips やライブラリなど、 JavaScript の活用ノウハウをどんどんご紹介していきます。ぜひ目を通していただいて、リッチクライアントの実装にお役立てください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('javascript', 3) %></ul>
<div class="morecategory">
<a href="javascript.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="closure-tools.html"><%= escapeHTML(@captions['closure-tools']) %></a></h1>

<p>
<a href="http://code.google.com/closure/">Closure Tools</a> は Google が開発した JavaScript 開発ツールキットで、 <a href="http://code.google.com/closure/library/">Closure Library</a> （JavaScript フレームワーク）、 <a href="http://code.google.com/closure/compiler/">Closure Compiler</a> （サイズ削減・最適化ツール）、 <a href="http://code.google.com/closure/templates/">Closure Template</a> （Java / JavaScript 共通のテンプレートライブラリ）の 3 つで構成されています。これらの最大の特徴は、今後要求が高まってくるであろう大規模 Web アプリケーションの開発をサポートし、その品質を向上させる機能の数々。 <a href="http://gmail.com/">Gmail</a> や <a href="http://docs.google.com/">Google Docs</a> などの開発で培った Google のノウハウが凝縮されています。それが Apache License 2.0 ライセンスによりオープンソース化され、自由に利用できるのですから、使わない手はありません。このカテゴリーでは、これら <strong>Closure Tools</strong> の活用方法をご紹介し、日本における普及の後押しをしていきます。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('closure-tools', 3) %></ul>
<div class="morecategory">
<a href="closure-tools.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="iphone.html"><%= escapeHTML(@captions['iphone']) %></a></h1>

<p>
近年、 Web におけるモバイルの重要性が急速に拡大しています。そして、その中心となっているのが <a href="http://www.apple.com/">Apple</a> の <a href="http://www.apple.com/jp/iphone/">iPhone</a> です。 PC とほぼ同じポテンシャルを持つ <a href="http://webkit.org/">Webkit</a> ベースのモバイル Safari ブラウザを搭載し、本格的な Web アプリケーションが利用できます。同時にネイティブアプリケーションも多数開発されており、ほぼ常時ネットワークにアクセスできるという携帯電話の特性から、その多くが Web に関連する機能を持ちます。このカテゴリーではそうした iPhone アプリケーションの開発 Tips をご紹介し、モバイル Web の発展を支援していきます。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('iphone', 3) %></ul>
<div class="morecategory">
<a href="iphone.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="ruby.html"><%= escapeHTML(@captions['ruby']) %></a></h1>

<p>
<a href="rails.html">Ruby on Rails</a> の台頭で一気に Web 開発の表舞台に躍り出た感のある <strong>Ruby</strong> 。洗練された使い易い言語仕様に加え、標準で非常に強力な日本語テキストの処理機能を搭載しており、日本での Web 開発には最も適した言語と言えるのではないでしょうか。このカテゴリでは、そんな <strong>Ruby</strong> の活用ノウハウをどんどんご紹介していきます。オリジナルのライブラリなども公開していく予定ですので、どうぞご期待ください！
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('ruby', 3) %></ul>
<div class="morecategory">
<a href="ruby.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="canvas.html"><%= escapeHTML(@captions['canvas']) %></a></h1>

<p>
<strong>canvas</strong> は JavaScript で高度なグラフィック表現を行うための <acronym title="Application Programming Interface">API</acronym> です。 Opera, Firefox, Safari などのブラウザで標準サポートされているほか、 <a href="http://excanvas.sourceforge.net/">Explorer Canvas</a> というスクリプトを利用することで Internet Explorer でもある程度のエミュレーションが可能です（Explorer Canvas についての詳細は記事をご覧ください）。 Internet Explorer が SVG をサポートしていない現在、もっとも利用しやすい Web グラフィック <acronym title="Application Programming Interface">API</acronym> と言えるでしょう。このカテゴリでは、 <strong>canvas</strong> の利用方法をサンプルをまじえて詳細にご紹介していきます。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('canvas', 3) %></ul>
<div class="morecategory">
<a href="canvas.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="rails.html"><%= escapeHTML(@captions['rails']) %></a></h1>

<p>
ここ 1 年で最もメジャーな Web アプリケーションフレームワークのひとつとして認められた感のある <strong>Ruby on Rails</strong> のカテゴリです。導入から Scaffold を使って基本的なデータベースアプリケーションを作成するまでをご紹介しています。現在、作成していたアプリケーションが必要なくなってしまったため、更新が滞ってしまっていて申し訳ありません。今後、新たな題材を見つけて再開したいと思っています。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('rails', 3) %></ul>
<div class="morecategory">
<a href="rails.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="subversion.html"><%= escapeHTML(@captions['subversion']) %></a></h1>

<p>
<strong>Subversion</strong> はファイルの変更履歴を保存していつでも過去の状態を復元できるようにする、いわゆる「バージョン管理システム」のひとつです。最近では <a href="http://code.google.com/hosting/">Google Code Project Hosting</a>, <a href="http://sourceforge.net/">SourceForge</a>（<a href="http://sourceforge.jp/">日本語版</a>）, <a href="http://rubyforge.org/">RubyForge</a> といった代表的なオープンソースプロジェクトのホスティングサイトに採用され、代表的なバージョン管理システムとしての地位をすっかり固めたように思います。プログラムのソースコードの管理にはもちろん、 Web サイトの各種ファイルの管理にも便利に活用できますので、プログラマー以外の方もぜひこの便利さを体験してみてください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('subversion', 3) %></ul>
<div class="morecategory">
<a href="subversion.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>
