<h1>Firefox 検索プラグインの作り方</h1>

<p>
 <a href="http://wiki.livedoor.jp/sourcewalker/d/Firefox" class="iw_lw">Firefox</a> のアドレスバーの横にある検索ボックス、実は自由に拡張できることをご存知でしょうか。<a href="http://wiki.livedoor.jp/sourcewalker/d/Firefox%b8%a1%ba%f7%a5%d7%a5%e9%a5%b0%a5%a4%a5%f3">Firefox検索プラグイン</a>を利用することで、好きな検索サイトを追加することができます。このコーナーでは、その<strong>Firefox検索プラグイン</strong>を自分で作成する方法をご紹介しています。簡単な定義ファイルを書くだけなので、いったん作り方を覚えてしまえば、必要な検索プラグインを Web で探すよりも楽なくらいですよ。自分の Web サイト用の検索エンジンを <a href="http://webos-goodies.jp/archives/50954858.html" class="iw_lb">Google Customize Search</a> で作って、そのプラグインを配布するのも良いアイディアですね。 <a href="http://wiki.livedoor.jp/sourcewalker/d/Firefox" class="iw_lw">Firefox</a> 2.0 からはサジェスト機能が追加され、より面白い使い方が考えられるようになっています。 <a href="http://wiki.livedoor.jp/sourcewalker/d/Firefox" class="iw_lw">Firefox</a> をご使用の皆さん、基礎知識として押さえておくのはいかがでしょうか。
</p>

<ul>
<%= list_articles('firefox-search') %>
</ul>
<% @title = 'Firefox 検索プラグインの作り方' %>