<h1>Gentoo Linux Tips</h1>

<p>
 <a href="http://wiki.livedoor.jp/sourcewalker/d/Portage" class="iw_lw">Portage</a> 関連以外の <a href="http://wiki.livedoor.jp/sourcewalker/d/GentooLinux" class="iw_lw">GentooLinux</a> の Tips をご紹介するコーナーです。サーバー構築の手順に関する記事も、一回で終わるものはこちらに含めています。ほとんどは <a href="http://wiki.livedoor.jp/sourcewalker/d/VMware" class="iw_lw">VMware</a> とは関係なく <a href="http://wiki.livedoor.jp/sourcewalker/d/GentooLinux" class="iw_lw">GentooLinux</a> 全般に適用できる内容になっています。
</p>

<ul>
<%= list_articles('gentoo-tips') %>
</ul>
<% @title = 'Gentoo Linux Tips' %>