<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
<a href="http://www.google.co.jp/ig">iGoogle</a> は Google が提供するカスタマイズが可能なポータルページサービスです。ユーザーは用意された多数のガジェットを好きなように自分のページに配置できるほか、自分で新たなガジェットを作成することも可能です。HTML や JavaScript といった、ごく一般的な Web プログラミングの知識があれば簡単にオリジナルのガジェットを作れますので、皆さんもぜひ挑戦してみてください。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>

<h2>関連リンク</h2>

<ul>
<li><a href="http://www.google.com/apis/gadgets/docs-home.html">公式開発者向けガイド</a></li>
<li><a href="http://code.google.com/support/bin/topic.py?topic=10027">公式 FAQ</a></li>
<li><a href="http://groups.google.com/group/Google-Gadgets-API">Google Gadgets API ディスカッショングループ</a></li>
</ul>
