<h1>Google Apps for Your Domain による独自ドメインの活用</h1>

<p>
 <a href="http://www.google.co.jp/a/">Google Apps for Your Domain</a> （Google アプリ 独自ドメイン向け）は <a href="http://wiki.livedoor.jp/sourcewalker/d/Google" class="iw_lw">Google</a> のさまざまな Web アプリケーションを独自ドメインで提供できる素晴らしいサービスです。 <a href="http://gmail.com/">Gmail</a>, <a href="http://www.google.com/talk/">Google Talk</a>, <a href="http://calendar.google.com/">Google Calendar</a>, <a href="http://pages.google.com/">Google Page Creator</a>, <a href="http://www.google.co.jp/ig">Google Personalized Homepage</a> といった優れたサービスを、自分の所有するドメインで利用することができます。そう、もう自分宛のメールを <strong>Gmail</strong> に転送する必要はありません。自分のメールアドレスでダイレクトに <strong>Gmail</strong> が利用できるのです。しかも多数のユーザーを登録できますので、家族や趣味のグループでの利用にも最適。最近はとても気軽に、低価格で独自ドメインが取得できるようになっていますので（<a href="value-domain.html">VALUE DOMAIN</a> がお勧めですよ）、ぜひ自分専用の <a href="http://wiki.livedoor.jp/sourcewalker/d/Google" class="iw_lw">Google</a> サービスを体験してみてください。
</p>

<ul>
<%= list_articles('google-apps-for-your-domain') %>
</ul>
<% @title = 'Google Apps for Your Domain による独自ドメインの活用' %>