<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
 <a href="http://www.google.co.jp/ig">Google Personalized Homepage</a> は <a href="http://wiki.livedoor.jp/sourcewalker/d/Google" class="iw_lw">Google</a> が提供するカスタマイズが可能なポータルページサービスです。ユーザーは用意された多数のガジェットを好きなように自分のページに配置できるほか、自分で新たなガジェットを作成することも可能です。<a href="http://wiki.livedoor.jp/sourcewalker/d/HTML" class="iw_lw">HTML</a> や <a href="http://wiki.livedoor.jp/sourcewalker/d/JavaScript" class="iw_lw">JavaScript</a> といった、ごく一般的な Web プログラミングの知識があれば簡単にオリジナルのガジェットを作れますので、皆さんもぜひ挑戦してみてください。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>
