<h1>MySQL によるデータベースの構築</h1>

<p>
 オープンソース・データベースサーバーの代名詞となりつつある <a href="http://wiki.livedoor.jp/sourcewalker/d/MySQL" class="iw_lw">MySQL</a> のコーナーです。 <a href="opensource-apps.html">オープンソースの Web アプリケーション</a>を利用するには必須のソフトウェアとなりつつありますね。 <a href="http://wiki.livedoor.jp/sourcewalker/d/MySQL" class="iw_lw">MySQL</a> 自身のインストール・利用方法はもちろん、 <a href="http://wiki.livedoor.jp/sourcewalker/d/SQL" class="iw_lw">SQL</a> に関する事柄も扱っていきます。
</p>

<ul>
<%= list_articles('mysql') %>
</ul>
<% @title = 'MySQL によるデータベースの構築' %>