<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
SFTP などの暗号化プロトコルが開発された現在でも、 <acronym title="File Transfer Protocol">FTP</acronym> はまだまだ健在。とくに安価なレンタルサーバーのほとんどは <acronym title="File Transfer Protocol">FTP</acronym> を主なファイル転送手段として提供しています。しかし、洗練された Web アプリケーションと比べて <acronym title="File Transfer Protocol">FTP</acronym> クライアントの使いにくいこと！真の WebOS フリークならば、 <acronym title="File Transfer Protocol">FTP</acronym> といえども Web 上で活用したいところです。そんな貴方にお勧めなのが、この <a href="http://www.net2ftp.com/">net2ftp</a> 。 これは PHP で実装された <acronym title="File Transfer Protocol">FTP</acronym> クライアントで、オープンソースソフトウェアとして公開されています。 Web ブラウザから自由に <acronym title="File Transfer Protocol">FTP</acronym> が使えるのはもちろん、 <acronym title="What You See Is What You Get">WYSIWYG</acronym> な HTML エディタや色分け表示機能付きのコードエディタも内蔵されており、まるでちょっとした <acronym title="Content Management System">CMS</acronym> のような感覚で <acronym title="File Transfer Protocol">FTP</acronym> サーバー上のファイルを編集・管理できます。さあ、貴方も <strong>net2ftp</strong> で快適な Web &amp; <acronym title="File Transfer Protocol">FTP</acronym> ライフを送りましょう！
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>
