<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
<strong>Opera 9</strong> で追加されたさまざまな機能の中でも異彩を放っているのが <strong>Opera Widgets</strong> です。 HTML や JavaScript といった既存技術を利用してデスクトップで動作するミニアプリケーションを作成できる機能で、その仕様は <acronym title="World Wide Web Consortium">W3C</acronym> で策定中の <a href="http://www.w3.org/TR/widgets/">Widgets 1.0</a> 規格のベースにもなっています。このカテゴリでは、その <strong>Opera Widgets</strong> の作成方法をご紹介しています。自分で好みのウィジェットが作れるほか、 <a href="http://webos-goodies.jp/archives/50548720.html">XMLHttpRequest</a> が任意のサイトに対して発行できるため、各種 Web <acronym title="Application Programming Interface">API</acronym> を利用したマッシュアップの実験も手軽に行えます。 <strong>Opera</strong> をご利用の皆さん、この素晴らしい機能をぜひともご活用ください。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>
