<% @title = escapeHTML(@captions[@basename]) %>

<p>
 他のカテゴリに当てはまらないコーナーはこちらにまとめています。
</p>

<h1><a href="products.html"><%= escapeHTML(@captions['products']) %></a></h1>

<p>
 いずれも小粒なものばかりですが、いくつかオリジナルのアプリケーション・ライブラリなどを配布しています。お役に立つようなものがありましたら、ぜひお試しください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('products', 3) %></ul>
<div class="morecategory">
<a href="products.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="announcement.html"><%= escapeHTML(@captions['announcement']) %></a></h1>

<p>
 過去に掲載した blog 関連のお知らせ記事などを集めています。当 blog の変遷がわかってしまって、ちょっと小恥ずかしい気がしますね。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('announcement', 3) %></ul>
<div class="morecategory">
<a href="announcement.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="weekly-news.html"><%= escapeHTML(@captions['weekly-news']) %></a></h1>

<p>
 毎週末、その週に見つけたネタをまとめて「今週の話題」として掲載しています。正式な記事としてはフォローし切れないさまざまな情報、面白ネタなどを集めていますので、ぜひこちらもご覧ください。なお、過去に掲載した情報は米 Yahoo! の <a href="http://myweb.yahoo.com/myweb?ei=UTF-8&amp;dg=0&amp;friendid=WxOWnIrYtZTWpQf1ec3vYmiA" title="http://myweb.yahoo.com/myweb?ei=UTF-8&amp;dg=0&amp;friendid=WxOWnIrYtZTWpQf1ec3vYmiA">My Web</a> というソーシャルブックマークサービスで管理しています。<a href="http://wiki.livedoor.jp/sourcewalker/d/Links">こちらページ</a>にカテゴリ分けしたリンクを掲載していますので、ご利用ください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('weekly-news', 3) %></ul>
<div class="morecategory">
<a href="weekly-news.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="gadget.html"><%= escapeHTML(@captions['gadget']) %></a></h1>

<p>
 コンピュータ好きとしては、やはりデジタルガジェット類のネタは外せません。ということで、このコーナーでは、私、歩行者が興味を持ったガジェットを独断と偏見によりレポートしています。とくに最近はよっぽどでないと記事化していないので更新頻度はかなり低いですが、興味のある記事がありましたら、ぜひご覧ください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('gadget', 3) %></ul>
<div class="morecategory">
<a href="gadget.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="misc.html"><%= escapeHTML(@captions['misc']) %></a></h1>

<p>
 こちらには、どのコーナーにもあてはまらないような記事を集めています。基本的には時事ネタやプライベートなネタがほとんどなので残しておく意味もあまりないのですが、記録も兼ねてここに置いてあります。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('misc', 3) %></ul>
<div class="morecategory">
<a href="misc.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>
