<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
<strong>Portage</strong> は <strong>Gentoo Linux</strong> 独自のパッケージ管理システムです。 <strong>Gentoo Linux</strong> の特徴の多くがこの <strong>Portage</strong> によって生み出されており、 <strong>Gentoo Linux</strong> の本質と言っても過言ではないものです。このカテゴリでは、 <strong>Portage</strong> に関連したさまざまな Tips をご紹介しています。あまり日本語の資料が見つからないものを重点的に記事にしていますので、ぜひご活用ください。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>

<h1>関連リンク</h1>

<ul>
<li><a href="http://gentoo-portage.com/">Gentoo-Portage</a></li>
</ul>
