<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
 <a href="http://wiki.livedoor.jp/sourcewalker/d/Portage" class="iw_lw">Portage</a> は <a href="http://wiki.livedoor.jp/sourcewalker/d/GentooLinux" class="iw_lw">GentooLinux</a> 独自のパッケージ管理システムです。 <a href="http://wiki.livedoor.jp/sourcewalker/d/GentooLinux" class="iw_lw">GentooLinux</a> の特徴の多くがこの <a href="http://wiki.livedoor.jp/sourcewalker/d/Portage" class="iw_lw">Portage</a> によって生み出されており、ある意味 <a href="http://wiki.livedoor.jp/sourcewalker/d/GentooLinux" class="iw_lw">GentooLinux</a> の本質と言っても過言ではないものです。このこーなーでは、 <a href="http://wiki.livedoor.jp/sourcewalker/d/Portage" class="iw_lw">Portage</a> に関連したさまざまな Tips をご紹介しています。あまり日本語の資料が見つからないものを重点的に記事にしていますので、ぜひご活用ください。
</p>

<ul><%= list_articles(@basename) %></ul>
