<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
いずれも小粒なものばかりですが、いくつかオリジナルのアプリケーション・ライブラリなどを配布しています。お役に立つようなものがありましたら、ぜひお試しください。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>

<p>なお、「WebOS Goodies オリジナルプロダクト」で公開中のソフトウェアのサポートや更新情報の配信は以下の Google Group で行っています。</p>

<table border=0 style="background-color: #fff; padding: 5px; margin: 1em 0px;" cellspacing=0>
  <tr><td>
    <img src="http://groups.google.com/groups/img/3/groups_bar_ja.gif"
         height=26 width=132 alt="Google グループ Beta">
  </td></tr>
  <tr><td style="padding-left: 5px"> <b>WebOS Goodiesに参加</b> </td></tr>
  <form action="http://groups.google.com/group/webos-goodies/boxsubscribe">
  <tr><td style="padding-left: 5px;"> メール アドレス: <input type=text name=email>
           <input type=submit name="sub" value="登録">
  </td></tr>
</form>
<tr><td align=right> <a href="http://groups.google.com/group/webos-goodies">このグループにアクセス</a> </td></tr>
</table>

<p>ぜひご参加ください！（＾＾）/</p>
