<% @title = escapeHTML(@captions[@basename]) %>

<p>
WebOS が現実のものとなれば、サーバーは企業が運用し、個人はシン・クライアントでそのサービスを利用することに終始するようになるのでしょうか？ WebOS Goodies は、むしろその逆だと考えています。各種サービスが Web <acronym title="Application Programming Interface">API</acronym> によって連携する時代だからこそ、個人がサーバーを運用する意味は今以上に高まるでしょう。また、そのサーバー上でオープンソースの Web アプリケーションを稼動させることで、 Web の可能性をより広げることもできます。そこで、このカテゴリでは Gentoo Linux をベースとして個人サーバーを構築する方法をご紹介し、そうした時代への布石としたいと思います。
</p>

<h1><a href="gentoo.html"><%= escapeHTML(@captions['gentoo']) %></a></h1>

<p>
Windows 上の WMware に <strong>Gentoo Linux</strong> をインストールする手順を、順を追ってご紹介しています。 2005 年末から 2006 年にかけての記事なので、最新バージョンとは異なる場合があるかと思いますが、大半は現在でも通用するはずです。 VMware 上で <strong>Gentoo Linux</strong> サーバーを運用しようという方は参考にしていただければと思います。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('gentoo', 3) %></ul>
<div class="morecategory">
<a href="gentoo.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="gentoo-tips.html"><%= escapeHTML(@captions['gentoo-tips']) %></a></h1>

<p>
Portage 関連以外の <strong>Gentoo Linux</strong> の Tips をご紹介するカテゴリです。サーバー構築の手順に関する記事も、一回で終わるものはこちらに含めています。ほとんどは VMware とは関係なく <strong>Gentoo Linux</strong> 全般に適用できる内容になっています。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('gentoo-tips', 3) %></ul>
<div class="morecategory">
<a href="gentoo-tips.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="portage-tips.html"><%= escapeHTML(@captions['portage-tips']) %></a></h1>

<p>
<strong>Portage</strong> は <strong>Gentoo Linux</strong> 独自のパッケージ管理システムです。 <strong>Gentoo Linux</strong> の特徴の多くがこの <strong>Portage</strong> によって生み出されており、 <strong>Gentoo Linux</strong> の本質と言っても過言ではないものです。このカテゴリでは、 <strong>Portage</strong> に関連したさまざまな Tips をご紹介しています。あまり日本語の資料が見つからないものを重点的に記事にしていますので、ぜひご活用ください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('portage-tips', 3) %></ul>
<div class="morecategory">
<a href="portage-tips.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="vmware.html"><%= escapeHTML(@captions['vmware']) %></a></h1>

<p>
<strong>VMware</strong> に関する細々としたネタを集めています。とくに時刻のずれを解消ネタはけっこう参照していただけています。筆者のスキルゆえにあまり高度な記事が書けていないので、精進していきます。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('vmware', 3) %></ul>
<div class="morecategory">
<a href="vmware.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="bind.html"><%= escapeHTML(@captions['bind']) %></a></h1>

<p>
DNS サーバーの定番、 <strong>BIND</strong> を使用した DNS サーバーの構築方法をご紹介しています。設定ファイルの記述方法などもできるだけ詳細に書くようにしていますので、参考にしていただければと思います。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('bind', 3) %></ul>
<div class="morecategory">
<a href="bind.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="apache.html"><%= escapeHTML(@captions['apache']) %></a></h1>

<p>
<strong>Apache</strong> による Web サーバー構築をご紹介するカテゴリです。 <a href="http://webos-goodies.jp/categories/server.html">Gentoo Linux</a> へのインストール方法から細かい Tips まで幅広く取り扱っていきます。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('apache', 3) %></ul>
<div class="morecategory">
<a href="apache.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="mysql.html"><%= escapeHTML(@captions['mysql']) %></a></h1>

<p>
オープンソース・データベースサーバーの代名詞となりつつある MySQL のコーナーです。 <a href="opensource-apps.html">オープンソースの Web アプリケーション</a>を利用するには必須のソフトウェアとなりつつありますね。 MySQL 自身のインストール・利用方法はもちろん、 SQL に関する事柄も扱っていきます。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('mysql', 3) %></ul>
<div class="morecategory">
<a href="mysql.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="ssh.html"><%= escapeHTML(@captions['ssh']) %></a></h1>

<p>
暗号化されたセキュアな通信を手軽に利用できる <strong>SSH</strong> 関連のカテゴリです。 <strong>SSH</strong> は単にセキュアなリモートシェルを実現するものと誤解されていることが多いのですが、実はファイル転送やポートフォワーディングなど、多彩な利用方法があります。これらを活用することで、出先から安全・便利にサーバーへのアクセスができるようになります。個人サーバーを構築したら、真っ先に立ち上げたいサービスのひとつと言えるでしょう。このコーナーでは、サーバー側の設定はもちろん、各種クライアントのご紹介まで <strong>SSH</strong> 活用に必要な知識をご紹介していきます。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('ssh', 3) %></ul>
<div class="morecategory">
<a href="ssh.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="courier.html"><%= escapeHTML(@captions['courier']) %></a></h1>

<p>
<strong>Courier</strong> メールサーバーを利用して SMTP, POP3, IMAP の各サーバーを構築する手順をご紹介しています。残念ながら私自身はメールの管理を完全に <a href="google-apps-for-your-domain.html">Google Apps for Your Domain</a> に移行してしまったのですが、ご参考までに残してあります。これから <strong>Courier</strong> でメールサーバーを構築しようという方に、少しでもお役に立てば幸いです。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('courier', 3) %></ul>
<div class="morecategory">
<a href="courier.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>
