<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
現在では多くの方が自宅と会社、デスクトップ PC とノート PC といった複数の環境で作業されていることと思います。そこで必要になってくるのがオンラインブックマークサービスです。<a href="http://b.hatena.ne.jp/">はてなブックマーク</a>や <a href="http://clip.livedoor.com/">livedoor クリップ</a>, <a href="http://del.icio.us/">del.icio.us</a> など多くのサービスがありますが、このコーナーではブラウザのサイドバーで利用できるという一風変わったブックマークサービス <a href="http://sitebar.org/">Sitebar</a> をご紹介します。サイドバーに表示できるため、ブラウジング中いつでもアクセスできるのは大きな利点です。オープンソースソフトウェアとしてソースが公開されているほか、 Web サービスとしても公開されていますので、お気軽にお試しください。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>
