<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
 暗号化されたセキュアな通信を手軽に利用できる <a href="http://wiki.livedoor.jp/sourcewalker/d/SSH" class="iw_lw">SSH</a> 関連のコーナーです。 <a href="http://wiki.livedoor.jp/sourcewalker/d/SSH" class="iw_lw">SSH</a> は単にセキュアなリモートシェルを実現するものと誤解されていることが多いのですが、実はファイル転送やポートフォワーディングなど、多彩な利用方法があります。これらを活用することで、出先から安全・便利にサーバーへのアクセスができるようになります。個人サーバーを構築したら、真っ先に立ち上げたいサービスのひとつと言えるでしょう。このコーナーでは、サーバー側の設定はもちろん、各種クライアントのご紹介まで <a href="http://wiki.livedoor.jp/sourcewalker/d/SSH" class="iw_lw">SSH</a> 活用に必要な知識をご紹介していきます。
</p>

<ul><%= list_articles(@basename) %></ul>
