<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
<strong>Subversion</strong> はファイルの変更履歴を保存していつでも過去の状態を復元できるようにする、いわゆる「バージョン管理システム」のひとつです。最近では <a href="http://code.google.com/hosting/">Google Code Project Hosting</a>, <a href="http://sourceforge.net/">SourceForge</a>（<a href="http://sourceforge.jp/">日本語版</a>）, <a href="http://rubyforge.org/">RubyForge</a> といった代表的なオープンソースプロジェクトのホスティングサイトに採用され、代表的なバージョン管理システムとしての地位をすっかり固めたように思います。プログラムのソースコードの管理にはもちろん、 Web サイトの各種ファイルの管理にも便利に活用できますので、プログラマー以外の方もぜひこの便利さを体験してみてください。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>
