<h1>VALUE DOMAIN で独自ドメインを取得しよう！</h1>

<p>
 お手ごろな価格とかゆいところに手の届くサービスが特徴のドメイン登録サービス <a href="http://wiki.livedoor.jp/sourcewalker/d/VALUE%20DOMAIN" class="iw_lw">VALUE DOMAIN</a> のご紹介コーナーです。とても柔軟な設定が可能なレンタル <a href="http://wiki.livedoor.jp/sourcewalker/d/DNS" class="iw_lw">DNS</a> サーバーが無料で利用できるほか、高機能なレンタル Web サーバーの <a href="http://xrea.com/">XREA</a> 、使いやすいアクセス解析サービス <a href="http://ax.xrea.com/">AccessAnalyzer</a> など、便利なサービスが提供されています。まだご自分のドメインを持っていない方、自分だけのドメイン名を登録して、ネット利用の幅を広げてみてはいかがですか？ドメインを取得した後は、 <a href="google-apps-for-your-domain.html">Google Apps for Your Domain</a> で存分にご活用ください。
</p>

<ul>
<%= list_articles('value-domain') %>
</ul>
<% @title = 'VALUE DOMAIN で独自ドメインを取得しよう！' %>