<% @title = escapeHTML(@captions[@basename]) %>

<p>
 ほんの数年前まではお世辞にも使いやすいとは言えなかった Web アプリケーションですが、現在ではブロードバンド回線の普及や <a href="http://wiki.livedoor.jp/sourcewalker/d/Ajax" class="iw_lw">Ajax</a> 技術の確立などで、デスクトップアプリケーションに勝るユーザビリティーを獲得しつつあります。このような Web アプリケーションの発展は、 WebOS 実現への重要な一歩と言えます。同時に、これらの Web アプリケーションの有効活用は WebOS 時代の必須事項となることでしょう。このカテゴリでは「一歩進んだ Web サービス活用術」と題して、有用な Web アプリケーションをご紹介し、その活用方法を模索していきます。
</p>

<h1><a href="web-apps-review.html"><%= escapeHTML(@captions['web-apps-review']) %></a></h1>

<p>
 Web アプリケーション全盛の今、日々新たなサービスが生まれています。それらの中から、役に立ちそうなサービスを厳選してご紹介するのがこのコーナーです。やはり <a href="http://wiki.livedoor.jp/sourcewalker/d/Google" class="iw_lw">Google</a> 関連が多数を占めてしまいますが、それにこだわらずにさまざまなサービスをご紹介していきます。単なるサービス内容の紹介にとどまらず、活用方法の提案まで踏み込めるように努力していますので、気になる Web アプリケーションがありましたら、ぜひご覧ください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('web-apps-review', 3) %></ul>
<div class="morecategory">
<a href="web-apps-review.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="google-universal-gadget.html"><%= escapeHTML(@captions['google-universal-gadget']) %></a></h1>

<p>
 <a href="http://www.google.co.jp/ig">Google Personalized Homepage</a> は <a href="http://wiki.livedoor.jp/sourcewalker/d/Google" class="iw_lw">Google</a> が提供するカスタマイズが可能なポータルページサービスです。ユーザーは用意された多数のガジェットを好きなように自分のページに配置できるほか、自分で新たなガジェットを作成することも可能です。<a href="http://wiki.livedoor.jp/sourcewalker/d/HTML" class="iw_lw">HTML</a> や <a href="http://wiki.livedoor.jp/sourcewalker/d/JavaScript" class="iw_lw">JavaScript</a> といった、ごく一般的な Web プログラミングの知識があれば簡単にオリジナルのガジェットを作れますので、皆さんもぜひ挑戦してみてください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('google-universal-gadget', 3) %></ul>
<div class="morecategory">
<a href="google-universal-gadget.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="google-apps-for-your-domain.html"><%= escapeHTML(@captions['google-apps-for-your-domain']) %></a></h1>

<p>
 <a href="http://www.google.co.jp/a/">Google Apps for Your Domain</a> （Google アプリ 独自ドメイン向け）は <a href="http://wiki.livedoor.jp/sourcewalker/d/Google" class="iw_lw">Google</a> のさまざまな Web アプリケーションを独自ドメインで提供できる素晴らしいサービスです。 <a href="http://gmail.com/">Gmail</a>, <a href="http://www.google.com/talk/">Google Talk</a>, <a href="http://calendar.google.com/">Google Calendar</a>, <a href="http://pages.google.com/">Google Page Creator</a>, <a href="http://www.google.co.jp/ig">Google Personalized Homepage</a> といった優れたサービスを、自分の所有するドメインで利用することができます。そう、もう自分宛のメールを <strong>Gmail</strong> に転送する必要はありません。自分のメールアドレスでダイレクトに <strong>Gmail</strong> が利用できるのです。しかも多数のユーザーを登録できますので、家族や趣味のグループでの利用にも最適。最近はとても気軽に、低価格で独自ドメインが取得できるようになっていますので（<a href="value-domain.html">VALUE DOMAIN</a> がお勧めですよ）、ぜひ自分専用の <a href="http://wiki.livedoor.jp/sourcewalker/d/Google" class="iw_lw">Google</a> サービスを体験してみてください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('google-apps-for-your-domain', 3) %></ul>
<div class="morecategory">
<a href="google-apps-for-your-domain.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="value-domain.html"><%= escapeHTML(@captions['value-domain']) %></a></h1>

<p>
 お手ごろな価格とかゆいところに手の届くサービスが特徴のドメイン登録サービス <a href="http://wiki.livedoor.jp/sourcewalker/d/VALUE%20DOMAIN" class="iw_lw">VALUE DOMAIN</a> のご紹介コーナーです。とても柔軟な設定が可能なレンタル <a href="http://wiki.livedoor.jp/sourcewalker/d/DNS" class="iw_lw">DNS</a> サーバーが無料で利用できるほか、高機能なレンタル Web サーバーの <a href="http://xrea.com/">XREA</a> 、使いやすいアクセス解析サービス <a href="http://ax.xrea.com/">AccessAnalyzer</a> など、便利なサービスが提供されています。まだご自分のドメインを持っていない方、自分だけのドメイン名を登録して、ネット利用の幅を広げてみてはいかがですか？ドメインを取得した後は、 <a href="google-apps-for-your-domain.html">Google Apps for Your Domain</a> で存分にご活用ください。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('value-domain', 3) %></ul>
<div class="morecategory">
<a href="value-domain.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="web-apps-tips.html"><%= escapeHTML(@captions['web-apps-tips']) %></a></h1>

<p>
 各種 Web アプリケーションのちょっとした活用方法などをご紹介するコーナーです。現在のところ <a href="http://wiki.livedoor.jp/sourcewalker/d/Google" class="iw_lw">Google</a> 関連で占められていますが、とくにこだわっているわけではありませんので、他の Web アプリケーションのネタも見つけ次第ご紹介していくつもりです。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('web-apps-tips', 3) %></ul>
<div class="morecategory">
<a href="web-apps-tips.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>

<h1><a href="web-apps-news.html"><%= escapeHTML(@captions['web-apps-news']) %></a></h1>

<p>
 基本的に最新情報の類は<a href="weekly-news.html">今週の話題</a>でお伝えしていますが、とくに気になる情報の場合はこちらのコーナーでご紹介しています。
</p>

<fieldset id="tpl_relatedframe">
<legend>最新記事</legend>
<div id="tpl_related">
<ul><%= list_articles('web-apps-news', 3) %></ul>
<div class="morecategory">
<a href="web-apps-news.html">&gt;&gt; もっと読む</a>
</div>
</div>
</fieldset>
