<% @title = escapeHTML(@captions[@basename]) %>
<h1><%= @title %></h1>

<p>
毎週末、その週に見つけたネタをまとめて「今週の話題」として掲載しています。正式な記事としてはフォローし切れないさまざまな情報、面白ネタなどを集めていますので、ぜひこちらもご覧ください。なお、過去に掲載した情報は米 Yahoo! の <a href="http://myweb.yahoo.com/myweb?ei=UTF-8&amp;dg=0&amp;friendid=WxOWnIrYtZTWpQf1ec3vYmiA" title="http://myweb.yahoo.com/myweb?ei=UTF-8&amp;dg=0&amp;friendid=WxOWnIrYtZTWpQf1ec3vYmiA">My Web</a> というソーシャルブックマークサービスで管理しています。<a href="http://wiki.livedoor.jp/sourcewalker/d/Links">こちらページ</a>にカテゴリ分けしたリンクを掲載していますので、ご利用ください。
</p>

<ol><%= list_articles(@basename, nil, false) %></ol>
