<% @title = escapeHTML(@captions[@basename]) %>

<style type="text/css">
  div.tpl_links { margin: 0px 0px 1em; 0px; padding: 0px 0px 8px 0px; border: #0080a0 1px solid; }
  .tpl_links h2 { clear: none; color: white; background-color: #0080a0; padding: 2px 8px; margin: 0px 0px 8px 0px; }
  .tpl_links ul.top { list-style-type: none; margin-left: 8px; }
  .tpl_links ul { margin: 2px 8px 4px 2em; }
  .tpl_links li { margin: 0px; line-height: 1.1; }
</style>

<h1><%= @title %></h1>

<p>
毎週末、その週に見つけたネタをまとめて「今週の話題」として掲載しています。正式な記事としてはフォローし切れないさまざまな情報、面白ネタなどを集めていますので、ぜひこちらもご覧ください。なお、過去に掲載した情報は <a href="http://bookmarks.yahoo.co.jp/webos_goodies/">Yahoo! ブックマーク</a>で管理しています。以下にカテゴリ分けしたリンクを掲載しましたので、ご利用ください。
</p>

<div style="float: left; width: 48%;">

<div class="tpl_links">
<h2>OS</h2>

<ul class="top">
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/linux?orderby=ctime">Linux</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/linux+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/linux+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/linux+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/windows?orderby=ctime">Windows</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/windows+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/windows+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/windows+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/mac?orderby=ctime">Mac OS X</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/mac+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/mac+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/mac+news?orderby=ctime">ニュース</a></li>
  </ul>
</ul>
</div>

<div class="tpl_links">
<h2>プログラミング</h2>

<ul class="top">
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/algorithm?orderby=ctime">アルゴリズム</a></li>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/ruby?orderby=ctime">Ruby</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/ruby+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/ruby+reference?orderby=ctime">リファレンス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/ruby+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/ruby+library?orderby=ctime">ライブラリ</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/ruby+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/python?orderby=ctime">Python</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/python+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/python+reference?orderby=ctime">リファレンス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/python+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/python+library?orderby=ctime">ライブラリ</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/python+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript?orderby=ctime">JavaScript</a></li>
  <ul>
	<li>
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document?orderby=ctime">ドキュメント</a> (
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+language?orderby=ctime">言語</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+dom?orderby=ctime">DOM</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+widget?orderby=ctime">Widget</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+graphic?orderby=ctime">Graphic</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+effect?orderby=ctime">Effect</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+text?orderby=ctime">テキスト処理</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+network?orderby=ctime">ネットワーク</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+db?orderby=ctime">データベース</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+security?orderby=ctime">セキュリティー</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+document+others?orderby=ctime">その他</a> )
	</li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+reference?orderby=ctime">リファレンス</a></li>
	<li>
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library?orderby=ctime">ライブラリ</a> (
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+language?orderby=ctime">言語拡張</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+dom?orderby=ctime">DOM</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+widget?orderby=ctime">Widget</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+graphic?orderby=ctime">Graphic</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+effect?orderby=ctime">Effect</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+text?orderby=ctime">テキスト処理</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+network?orderby=ctime">ネットワーク</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+db?orderby=ctime">データベース</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+library+others?orderby=ctime">その他</a> )
	</li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+hosted-service?orderby=ctime">サービス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/javascript+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/flex?orderby=ctime">Flex / AIR</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/flex+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/flex+reference?orderby=ctime">リファレンス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/flex+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/flex+hosted-service?orderby=ctime">サービス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/flex+library?orderby=ctime">ライブラリ</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/flex+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev?orderby=ctime">Web 開発</a></li>
  <ul>
	<li>
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document?orderby=ctime">ドキュメント</a> (
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document+html?orderby=ctime">HTML</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document+xml?orderby=ctime">XML</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document+css?orderby=ctime">CSS</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document+widget?orderby=ctime">Widget</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document+server?orderby=ctime">Server</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document+security?orderby=ctime">セキュリティー</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document+network?orderby=ctime">ネットワーク</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+document+others?orderby=ctime">その他</a> )
	</li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+reference?orderby=ctime">リファレンス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-api?orderby=ctime">API</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+library?orderby=ctime">ライブラリ</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-dev+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-dev?orderby=ctime">デスクトップ開発</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-dev+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-dev+reference?orderby=ctime">リファレンス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-dev+library?orderby=ctime">ライブラリ</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-dev+news?orderby=ctime">ニュース</a></li>
  </ul>
</ul>
</div>

</div>

<div style="float: right; width: 48%;">

<div class="tpl_links">
<h2>アプリケーション</h2>

<ul class="top">
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/opera?orderby=ctime">Opera</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/opera+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/opera+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/opera+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/firefox?orderby=ctime">Firefox</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/firefox+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/firefox+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/firefox+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/googlechrome?orderby=ctime">Google Chrome</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/googlechrome+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/googlechrome+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/googlechrome+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps?orderby=ctime">Web アプリケーション</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+software?orderby=ctime">配布ソフトウェア</a></li>
	<li>
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service?orderby=ctime">サービス</a> (
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+writing?orderby=ctime">ドキュメント</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+pim?orderby=ctime">PIM</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+graphic?orderby=ctime">グラフィック</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+maps?orderby=ctime">地図</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+search?orderby=ctime">検索</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+storage?orderby=ctime">ストレージ</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+db?orderby=ctime">データベース</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+network?orderby=ctime">ネットワーク</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+sharing?orderby=ctime">共有</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+widget?orderby=ctime">ウィジェット</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+generator?orderby=ctime">ジェネレータ</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+mobile?orderby=ctime">モバイル</a> ,
	  <a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+hosted-service+others?orderby=ctime">その他</a> )
	</li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/web-apps+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-apps?orderby=ctime">デスクトップアプリケーション</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-apps+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-apps+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/desktop-apps+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/dev-apps?orderby=ctime">開発ツール</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/dev-apps+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/dev-apps+hosted-service?orderby=ctime">サービス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/dev-apps+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/dev-apps+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/server?orderby=ctime">サーバーソフトウェア</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/server+software?orderby=ctime">ソフトウェア</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/server+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/server+reference?orderby=ctime">リファレンス</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/server+news?orderby=ctime">ニュース</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/virtual-machine?orderby=ctime">仮想マシン</a></li>
</ul>
</div>

<div class="tpl_links">
<h2>その他</h2>

<ul class="top">
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/gadget?orderby=ctime">ガジェット</a></li>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/design?orderby=ctime">デザイン</a></li>
  <ul>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/design+picture?orderby=ctime">画像素材</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/design+icon?orderby=ctime">アイコン</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/design+widget?orderby=ctime">Widget</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/design+font?orderby=ctime">フォント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/design+template?orderby=ctime">テンプレート</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/design+document?orderby=ctime">ドキュメント</a></li>
	<li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/design+hosted-service?orderby=ctime">サービス</a></li>
  </ul>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/server-hosting?orderby=ctime">ホスティングサービス</a></li>
  <li><a href="http://bookmarks.yahoo.co.jp/webos_goodies/tag/misc?orderby=ctime">その他</a></li>
</ul>
</div>

</div>

<div style="clear:both;"></div>

<h1>過去記事</h1>

<ol><%= list_articles(@basename, nil, false) %></ol>
