<div><%= link_to('新規投稿', new_article_url()) %></div>

<table>

<tr>
  <th>ID</th>
  <th>title</th>
</tr>

<% @articles.each do |article| -%>

<tr>
  <td><%= link_to(h(article.id), article_url(article.id)) %></td>
  <td><%= h(article.title) %></td>
</tr>

<% end -%>

</table>

