<div><%= link_to('新規投稿', new_site_article_url()) %></div>

<table>

<tr>
  <th>タイトル</th>
</tr>

<% @articles.each do |article| -%>

<tr>
  <td><%= link_to(h(article.title), site_article_url(@site.id, article.id)) %></td>
</tr>

<% end -%>

</table>

